
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", serif;
  width: 100%;
  /* overflow-x: hidden; */
}
.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  /* padding: 20px; */
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0 0 3px 3px #c4c4c4;
  background-color: white;
  z-index: 1;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-links__list,
.middle-nav-list {
  list-style: none;
  /* display: flex; */
  /* gap: 50px; */
  /* margin-left: 40px; */
}
.nav-links__list-item {
  display: inline-block;
  margin-right: 40px;
  color: gray;
  font-size: 18px;
}
.G {
  color: blue;
  font-size: 22px;
}
.o {
  color: red;
  font-size: 22px;
  margin-left: -4px;
}
.o_ {
  color: orange;
  font-size: 22px;
  margin-left: -4px;
}
.g {
  color: blue;
  font-size: 22px;
  margin-left: -4px;
}
.l {
  color: green;
  font-size: 22px;
  margin-left: -4px;
}
.e {
  color: red;
  font-size: 22px;
  margin-left: -4px;
}
.w {
  color: #5f6368;
  font-size: 22px;
}
.header-btn-container {
  margin-top: 20px;
}
.btn-register {
  background-color: #1a73e8;
  color: white;
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.btn-register:hover {
  background-color: blue;
}
.btn-reg {
  background-color: #1a73e8;
  color: white;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.btn-reg:hover {
  background-color: blue;
}
.btn-test {
  background-color: white;
  color: #1a73e8;
  height: 45px;
  width: 200px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn-test:hover {
  background-color: lightgray;
  border-color: #1a73e8;
}
button {
  margin-right: 20px;
}
#hero-section {
  position: relative;
  top: 100px;
  /* z-index: 2; */
}
.hero-section {
  width: 100%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  /* max-width: 100%; */
  /* overflow-x: hidden; */
  justify-content: space-between;
}
.hero-section__description {
  width: 48%;
}
.hero-section__image {
  width: 48%;
}
.hero-section-img {
  /* max-width: 100%; */
  width: 100%;
  margin-top: 50px;
}
.hero-section__heading {
  font-size: 56px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-header {
  font-size: 40px;
  font-weight: 500;
  color: #202124;
}
.section-description {
  color: gray;
  font-size: 18px;
  margin-top: 20px;
}
.google-meet {
  color: gray;
  font-size: 24px;
  margin-top: 30px;
}
.join-meeting {
  display: flex;
  margin-top: 65px;
  font-size: 18px;
}
.join-meeting__text {
  margin-right: 20px;
  color: #3d475d;
}
.join-meeting__enter-code {
  color: #1a73e8;
  border-bottom: 1px solid #1a73e8;
  cursor: pointer;
}
#main {
  width: 100%;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
}
.middle-nav-list .nav-links__list-item {
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 3px;
}
.middle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
  /* border-width: 1px; */
  border-color: #c4c4c4;
  border-style: solid;
  border-radius: 30px;
  box-shadow: 0px 0 5px #f4f4f4, 5px 0 5px #f4f4f4, 0 5px 5px #f4f4f4;
}
.middle-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* position: fixed; */
  /* top: 50%; */
}
.nav-links__list-item:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 15px;
}

/* COLLABORATE SECTION */
.collaborate-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
.collaborate-section__image {
  width: 48%;
}
.collaborate-section__image img {
  width: 650px;
  height: 400px;
}
.collaborate-section__description {
  width: 36%;
}
.gemini-google {
  color: #1a73e8;
  text-decoration: underline;
}
/* DIVERSE OPPORTUNITIES */
.diverse-opportunities {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 200px;
}
.diverse-opportunities__description {
  width: 45%;
}
/* .diverse-opportunities-header{
      font-size: 40px;
      font-weight: 500;
      color:#202124;
  } */
.diverse-opportunities-description {
  color: gray;
  font-size: 18px;
  margin-top: 20px;
}
.diverse-opportunities__image {
  width: 48%;
}
.diverse-opportunities__image img {
  width: 600px;
  height: 400px;
  padding-left: 10px;
  padding-right: 10px;
}
/* video-conferencing */
.video-conferencing {
  padding-top: 200px;
}
.video-conferencing__image {
  width: 48%;
}
.video-conferencing__image img {
  width: 600px;
}
.optimal-environment {
  width: 100%;
  text-align: center;
  padding-top: 200px;
}
.optimal-environment__description {
  color: #202124;
}
.moment {
  padding-top: 200px;
}
.moment__image img {
  width: 600px;
}
.moment-header {
  padding-left: 100px;
}
.exchange-environment {
  padding-top: 100px;
}
.collaborate-section__image {
  width: 550px;
}
/* PREMIUM FEATURES */
.premium-features {
  padding-left: 10%;
  padding-right: 10%;
}
.premium-features__card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.premium-features__card {
  width: 32%;
  height: 200px;
  border: 1px solid gray;
  border-radius: 15px;
}
.premium-features-description-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}
.premium-features-description-container > div {
  width: 32%;
}
.premium-features__card img {
  width: 100%;
  border-radius: 15px;
}
.learn-google-meet {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
}
.learn-google-meet__description {
  display: flex;
  justify-content: space-between;
}
.learn-google-meet__left {
  width: 70%;
  padding-right: 50px;
}
.learn-google-meet__left > div > hr {
  margin-top: 30px;
}
.learn-google-meet__right {
  width: 30%;
  height: 300px;
  border: 1px solid gray;
  border-radius: 15px;
}
.learn-google-meet__right__h3 {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #202124;
}
.learn-google-meet__right__p3 {
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
  font-size: 15px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.learn-google-meet__right__btns {
  padding-left: 20px;
  padding-bottom: 5px;
}
.btn-help {
  background-color: white;
  color: #1a73e8;
  height: 45px;
  width: 60px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn-help:hover {
  background-color: lightgray;
  border-color: #1a73e8;
}
.learn-google-meet__right__description {
  width: 100%;
}
.h3 {
  font-size: 20px;
  font-weight: 500;
  color: #202124;
  margin-top: 40px;
}
.p3 {
  color: gray;
  font-size: 15px;
  margin-top: 10px;
}
.stay-connected {
  width: 100%;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}
.stay-connected__wrapper {
  background-color: #f8f9fa;
  padding-top: 100px;
}
.stay-connected-btns {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
